node_modules/**/*
packages/app/.expo/*
packages/app/.expo-shared/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
packages/app/node_modules/**/*
packages/controller/node_modules/**/*
packages/web/node_modules/**/*
packages/app/.expo
.vscode
DEV_PLAN

# macOS
.DS_Store
